/vendor/

/var/cache/*
!/var/cache/.gitkeep

/var/log/*
!/var/log/.gitkeep

/var/sessions/*
!/var/sessions/.gitkeep

/public/app/*
!/public/app/.gitkeep

/.env.local
/.env.local.php
/.env.*.local

/.phpunit.result.cache