/vendor/

/var/cache/*
!/var/cache/.gitkeep

/var/log/*
!/var/log/.gitkeep

/var/sessions/*
!/var/sessions/.gitkeep

/public/app/*
!/public/app/.gitkeep

/.env.local
/.env.local.php
/.env.*.local

/.phpunit.result.cache

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
